@model List<Fleets.Line.Models.Inventory>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layouts/_MasterLayout.cshtml";
}

<div style="margin-left:15px; margin-right:15px;">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#home">SKU Inventory</a></li>
        <li><a data-toggle="tab" href="#menu1">Promotion Rules</a></li>
        <li><a data-toggle="tab" href="#menu2">Customer Cart</a></li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <p class="fl-tab-head">Stock Keeping Unit</p>
            <table class="table">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Image</th>
                        <th>Desciption</th>  
                        <th>Currency</th>                     
                        <th>Unit Price</th>                       
                        <th>Add to Cart</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ProductId</td>
                            <td>
                                <img style="height:40px; width:auto;" src="@item.ProductImage" />                                
                            </td>
                            <td>@item.Description</td>
                            <td>@item.Currency</td>
                            <td>@item.Price</td>
                            <td style="cursor:pointer; text-decoration:underline;"><a onclick="AddInventoryItem('@item.ProductId')">Add Item +</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div id="menu1" class="tab-pane fade">
            <p class="fl-tab-head">Add Promotion Rules</p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Menu 2</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
    });
</script>